@use '../abstracts/variables';

.footer {
  padding-top: 4.25rem;
  padding-bottom: 2.875rem;
  color: variables.$footer-text-color;
  background-image: url('/images/footer-bg-image.png'), linear-gradient(0deg, #000, #000);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  user-select: none;
}

.footer-description {
  max-width: 56rem;
  margin-top: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.footer-cta {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  padding: 1.25rem 2.25rem;
  color: variables.$footer-cta-text;
  border-radius: 9999px;
  background-color: variables.$footer-cta-bg;
  transition: box-shadow 300ms ease;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px variables.$black, 0 0 0 6px rgba(variables.$primary, 0.5);
  }

  .cta-text {
    font-weight: 700;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1;
    letter-spacing: -0.05em;
  }

  .arrow-right-icon {
    width: 1.5rem;
    height: 1.5rem;
    background-image: svg-load('arrow-right-icon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  > * + * {
    margin-right: 0;
    margin-left: 0.5rem;
  }
}

.footer-logo {
  width: 15rem;
  margin-top: 2.5rem;
  margin-right: auto;
  margin-left: auto;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.375rem;

  > a {
    text-decoration: underline;
    text-underline-offset: 0.25em;
  }

  > a + a {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
}

.footer-copyright {
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: variables.$sm) {
  .footer-nav {
    flex-direction: row;
    justify-content: center;

    > a + a {
      margin-top: 0;
      margin-right: 0;
      margin-left: 1rem;
    }
  }
}

@media (min-width: variables.$md) {
  .footer-cta .cta-text {
    font-size: 2.25rem;
  }
}
