@use '../abstracts/functions' as *;
@use '../abstracts/variables' as *;

.header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: $header-bg-color;
  user-select: none;

  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header-logo {
  width: to-rem(196);
}
