@use 'sass:math';
@use '../abstracts/functions' as *;
@use '../abstracts/variables';

.product-review-section {
  @apply pt-10 pb-16;
}

.product-review-grid {
  @apply grid grid-cols-1 gap-12 mt-16;

  @screen lg {
    @apply grid-cols-2;
  }
}

.product-feedback-row {
  @apply flex flex-col -mx-4;

  > div {
    @apply px-4;

    + div {
      @apply mt-4;
    }
  }
}

.product-review-feedback {
  @apply mt-5 text-neutral text-xl font-bold;
}

.product-badge-icons {
  @apply flex flex-row items-center;

  > img ~ img {
    @apply ml-4;
  }
}

.product-badge {
  @apply w-20;
}

.product-detail-list {
  @apply mt-4 list-inside list-disc;
}

.product-review-cta {
  @apply flex flex-col w-full mt-4 p-6 rounded-full bg-primary;
}

@media (min-width: variables.$sm) {
  .product-feedback-row {
    flex-direction: row;

    > div + div {
      @apply my-0;
    }

    > div:nth-of-type(1) {
      flex: 0 0 math.percentage(math.div(8, 12));
    }

    > div:nth-of-type(2) {
      flex: 0 0 math.percentage(math.div(4, 12));
    }
  }
}

@media (min-width: variables.$lg) {
  .product-badge-icons {
    flex-direction: column;

    > img ~ img {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}
