// Typography
$sans-family: 'Gilroy', ui-sans-serif, system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI',
  roboto, 'Helvetica Neue', arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', 'Noto Color Emoji';
$serif-family: ui-serif, georgia, cambria, 'Times New Roman', times, serif;
$mono-family: ui-monospace, sfmono-regular, menlo, monaco, consolas, 'Liberation Mono',
  'Courier New', monospace;

// Breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

// Media Breakpoints
$media-breakpoints: ($sm, $md, $lg, $xl, $xxl);

// Colors
$primary: #b9db01;
$white: #fff;
$black: #000;
$gray: #8d8d8d;

// body
$body-bg-color: $white;
$body-text-color: $black;

// special-offer-banner
$so-bg-color: $primary;

// header
$header-bg-color: $black;

// product-review
$cta-bg-color: $primary;

// footer
$footer-bg-color: $black;
$footer-text-color: $white;
$footer-cta-bg: $primary;
$footer-cta-text: $black;
