// Banner
$banner-padding-y: 0.25rem;
$banner-bg-color: #b9db01;
$banner-font-weight: 700;
$banner-font-size: 0.875rem;
$banner-line-height: 1.25rem;
$banner-letter-spacing: 0.025em;
$banner-text-align: center;
$banner-text-transform: uppercase;

// Navigation
$nav-padding-y: 0.5rem;
$nav-bg-color: #000;
$nav-logo-width: 12rem;
